/vendor/
/node_modules/
/public/build/
/public/hot
/storage/*.key
/storage/logs/*
!/storage/logs/.gitignore
/bootstrap/cache/*
!/bootstrap/cache/.gitignore
/.env
/.env.*
!/.env.example
/.phpunit.result.cache
/.phpunit-watcher.yml
/.idea/
/.vscode/
/coverage/
/auth.json
*.sql.gz
*.dump
*.bak
*.pem
*.key
.DS_Store
